<form>
  <label for="name">enter name</label>
  <input
    ngModel
    required
    name="name"
    #model="ngModel"
    class="form-control"
    type="text"
    (change)="changeI(model)"
  />
  <div class="alert alert-danger" *ngIf="model.touched && !model.valid">
    enter a value bahi !
  </div>

  <label for="reg">enter registeration number</label>
  <input
    ngModel
    required
    name="reg"
    #reg="ngModel"
    class="form-control"
    type="text"
    minlength="4"
  />
  <div class="alert alert-danger" *ngIf="reg.touched && !model.valid">
    enter a value bahi !
    <div class="alert alert-danger" *ngIf="reg.errors.minlength">
      min 4 digits
    </div>
  </div>

  <!-- <div #addr=ngModelGroup>
    <label>country</label>
    <input type="text" />
  </div> -->

  <button class="btn btn-submit" type="submit">click</button>
</form>

<form>
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" />
  </div>
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" />
  </div>
</form>
