<h2 class="jumbotron bg-info form-group">Registeration page</h2>
<form #ngf="ngForm" (ngSubmit)="onSubmit(ngf)">
  <label> first name </label>
  <input
    class="form-control"
    required
    name="name"
    ngModel
    #first="ngModel"
    type="text"
  />
  <div class="alert alert-danger" *ngIf="first.touched && !first.valid">
    Enter a name
  </div>

  <label> last name</label>
  <input
    class="form-control"
    required
    name="last"
    ngModel
    #last="ngModel"
    type="text"
  />

  <label> Password</label>
  <input
    class="form-control"
    required
    name="pass"
    ngModel
    #pass="ngModel"
    type="password"
  />
  <div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
    Enter a password
  </div>

  <label> rewrite Password</label>
  <input
    class="form-control"
    required
    name="passr"
    ngModel
    #passr="ngModel"
    type="password"
  />

  <div class="alert alert-danger" *ngIf="passr.touched && !passr.valid">
    Enter a password
  </div>
  <div class="alert alert-danger" *ngIf="pass.value != passr.value">
    password not matching
  </div>

  <button class="btn btn-success" type="submit">submit</button>
</form>

<span class="badge badge-success" style="height: 100px; width:500px; line-height: 70px; font-size: 50px !important;">{{out}}</span>
